language: python
python:
  - "3.6"
  
sudo: required
env: DISPLAY=':99.0'
addons:
  chrome: stable 

before_script:
  - sh -e /etc/init.d/xvfb start

install:
  - cp contrib/env-sample .env
  - pip install -q -r requirements.txt
script:
  - python manage.py test
