<html>
    <head>
        <title>GAC na Itália</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
          /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
          #map {
            height: 95%;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
        h1 {
            text-align: center;
            margin-bottom: 0;
        }
        </style>
    </head>
    <body>
        <h1>1ºGAVCA na Itália</h1>
        <div id="map"></div>
    <script>
      var map;
      var markers = [];
      var locations = [
            {% for location in historic_places %}
                [
                '{{ location.title }}', '{{ location.description }}',
                {{ location.latitude }}, {{ location.longitude }}
                ],
            {% endfor %}
      ];

      function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 43.300, lng: 12.020},
              zoom: 7
          });

          setMarkers(map);

          // Try HTML5 geolocation.
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                  var userPos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                  };
                  map.setCenter(userPos);
                  var circleBlue = {
                      path: 'M-5,0a5,5 0 1,0 10,0a5,5 0 1,0 -10,0',
                      fillColor: '#0a62b5',
                      fillOpacity: 0.8,
                      scale: 1,
                      strokeColor: '#48a0f2',
                      strokeWeight: 2
                  };

                  var blueDot = new google.maps.Marker({
                      position: {lat: position.coords.latitude, lng: position.coords.longitude},
                      map: map,
                      icon: circleBlue
                  });
              });
          }

      }

      function setMarkers(map) {
          for (let i = 0; i < locations.length; i++) {

              var location = locations[i];
              var contentString = '<div id="content">'+
                      '<div id="siteNotice">'+
                      '</div>'+
                      '<h1 id="firstHeading" class="firstHeading">'+location[0]+'</h1>'+
                      '<div id="bodyContent">'+
                      '<p>'+location[1]+'</p>'+
                      '</div>'+
                      '</div>';
              var locationInfoWindow = new google.maps.InfoWindow({
                  content: contentString,
              });

              var marker = new google.maps.Marker({
                  position: {lat: location[2], lng: location[3]},
                  map: map,
                  infowindow: locationInfoWindow
              });

              markers.push(marker);

              google.maps.event.addListener(marker, 'click', function () {
                  hideAllInfoWindows(map);
                  this.infowindow.open(map, this);
                  map.setZoom(10);
                  map.setCenter(this.getPosition());
              });

          }
      }

      function hideAllInfoWindows(map) {
          markers.forEach(function(marker) {
            marker.infowindow.close(map, marker);
          });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"
    async defer></script>
    </body>
</html>